.prompt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  gap: 10px;
  text-align: left;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 7px;
  text-align: left;
}

.input-field {
  border: none;
  background: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
  text-align: left; 
}

.submit-button {
  background-color: #474456;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  font-size: 16px;
}

.parent{
    display: flex;
    justify-content: center;
}
.submit-button:hover {
  background-color: #615e6f;
}

.bottom {
  display: flex;
}