.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background-color: #4EC8CA; /* Change this to your desired background color */
    color: black; /* Change this to your desired text color */
    padding: 10px; /* Adjust the padding as needed */
    z-index: 100; /* Set a higher z-index to ensure it's on top of other content */
  }
  
  .navbar a {
    text-decoration: none;
    color: black; /* Change this to your desired link color */
    margin: 0 10px; /* Adjust the spacing between links */
  }