.resizeHandle {
  background-color: #474456;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resizeIcon {
  width: 16px;
  height: 16px;
}